<div class="w-50 mx-auto vh-100 row justify-content-center align-items-center">
    <div class="col-5 text-center p-5">
        <h1 class="fs-3">Welcome new student!</h1>
        <p class="lead mx-auto">
            You have been successfully registered to <span class="fw-bold">Wizardly</span>.
            Go to your homepage to see more.        
        </p>
        <button class="btn btn-sm btn-dark px-2" (click)="onClick()">Go to homepage</button>
    </div>
    <div class="col-5 d-flex justify-content-center">
        <img class="w-100" src="../../assets/icons/succesful-register-illustration.svg" alt="successful-illustration">
    </div>
</div>