<div class="row g-2 align-items-center" style="height: 90vh;">
    <div class="login-page-left col-lg-6">
        <div class="login-form-cotainer">
            <h1>Welcome back beloved student</h1>
            <h4 class="mb-3">Please enter your details to log in</h4>
            <form #loginForm="ngForm" class="needs-validation was-validation" (ngSubmit)="login()" autocomplete="off"
                novalidate>
                <alert *ngIf="loggedInError && errorMessage !== ''" type="danger">
                    <strong>Error!</strong> Invalid username or password.
                </alert>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" [(ngModel)]="model.username" type="text" class="form-control" id="username"
                        placeholder="your username" #username="ngModel" required maxlength="15">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" [(ngModel)]="model.password" type="password" class="form-control"
                        id="password" placeholder="your password" #password="ngModel" required required maxlength="15">
                </div>
                <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-dark w-100">Sign in</button>
            </form>

            <div class="text-mutted text-center mt-4">Not yet one of us? Click here to <a
                    routerLink="/register">Register</a></div>
        </div>
    </div>
    <div class="login-page-right d-none d-lg-block col-6">
        <img src="https://images.unsplash.com/photo-1594845222889-c20e5b48fb53?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1460&q=80"
            alt="login-image">
    </div>
</div>