<div class="w-50 mx-auto vh-100 row justify-content-center align-items-center">
    <div class="col-5 text-center p-5">
        <h1 class="fs-3">Opps!</h1>
        <p class="lead mx-auto">Look like there's something worng with the page. It's a good idea to go back.</p>
        <button class="btn btn-sm btn-dark" (click)="onClick()">Go back</button>
    </div>
    <div class="col-5 d-flex justify-content-center">
        <img class="w-100" src="../../assets/icons/error-illustration.svg" alt="error-illustration">
    </div>
</div>