<div class="py-5 text-center container">
    <app-navbar></app-navbar>
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Wizardly school</h1>
            <p class="lead text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto laudantium
                necessitatibus sit maiores accusamus, accusantium dolores praesentium rerum inventore.</p>
        </div>
    </div>
</div>

<app-cards [houses]="houses" [user]="user"></app-cards>